<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <ul type="none">
        <li>Jee</li>
        <ol>
            Java is a programing language
            <li type="none">Java is a programing language</li>
        </ol>
        <li>HTML</li>
        
        <ol>It is used for web page design</ol>
    </ul> -->
    <dl>
        
        <dt>Jee</dt>
        <dd>Java is a programing language</dd>
        <dt>HTML</dt>
        <dd>It is used for web page design</dd>
        
    </dl>
</body>
</html>