<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">



    <title>IDB JEE</title>
    
</head>
<body>

    <!-- start header -->

    <!-- start nav -->

    <nav class="navbar navbar-expand-lg navbar-black">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img src="assets/img/img.png" alt="" id="first"></a>
          <!-- <img src="img.png" alt=""> -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Why BMW</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Model</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Series
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">series1</a></li>
                  <li><a class="dropdown-item" href="#">series2</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">new series!</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
    <!-- end here -->
    <!-- start section -->

    <section id="home" class="bg-dark p-5 text-center text text-md-start text-light">
        <div class="container py-5">
            <div class="d-sm-flex align-items-start justify-content-between py-5">

            <div>
            <h1 class="text-white-50 text-start">Sheer driving pleasure</h1>
            <p class="text-success"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi laboriosam unde fugit. Totam, quia unde. Ad dignissimos nobis repellat sit, porro in similique eius  illum, tenetur adipisci libero at distinctio!</p>  <!-- alt+z for wrap text -->
            </div>

            <div>
                <img  src="assets/img/car.png" width="100%" alt="img">
            </div>

          </div>
            
        </div>
        <!--for h1 class="text-white-50 text-start" -->
        <!--for h2 class="text-start" -->

    </section>
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Home2</a></li>
        <li class="active">November</li>

    </ol>



    <!-- end section -->


    <!-- end here -->

    <script src="bootstrap.bundle.min.js"></script>
</body>
</html>