
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

  *{
    font-family: 'Roboto Mono', monospace;
    
  }
  #first{
    height: 40px;
  }
  .breadcrumb li + li::before{
    color: #945151;
    content: "  ";
    padding: 0 5px;

  }