nav ul li{
    float: left;
    margin: 5px;
    list-style-type: none;
}
nav{
    height: 30px;
    width: 100%;
    background-color: bisque;
}
nav ul li a{
    text-decoration: none;
    
}
nav ul li a:hover{
    padding: 6px;
    background-color: aquamarine;
}